.movies-card {
  position: relative;
  width: 364px;
  height: 271px;
  display: flex;
  flex-direction: column;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card__header {
  max-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 14px 40px 9px 14px;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 14px 14px;
}

.movies-card__add-button {
  position: absolute;
  top: 19px;
  right: 14px;
  width: 30px;
  min-height: 30px;
  border: none;
  padding: 0;
  background-color: #F9F9F9;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../../images/zakrep_off.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition: .2s;
}

.movies-card__add-button:hover {
  opacity: .8;
}

.movies-card__add-button_active {
  background-color: #2BE080;
  background-image: url(../../images/zakrep_on.svg)
}

.movies-card__add-button_type_delete {
  background-color: #F9F9F9;
  background-size: 50%;
  background-image: url(../../images/close-side-menu.svg);
}

.movies-card__image {
  width: 100%;
  object-fit: cover;
  height: 203px;
  object-position: center;
  overflow: hidden;
  transition: .2s;
}

.movies-card__image:hover {
  filter: blur(3px);
}

.movies-card__link {
  position: relative;
  overflow: hidden;
  transition: .3s;
}

.movies-card__link::after {
  content: 'Смотреть трейлер';
  width: 140px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 45%;
  left: calc(50% - 70px);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  opacity: 0;
  transition: .2s;
}

.movies-card__link:hover::after {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .movies-card {
    width: 339px;
    height: 258px;
  }
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .movies-card {
    width: 300px;
    height: 236px;
  }
  .movies-card__image {
    height: 168px;
  }
}