.login {
  /* border: 1px solid red; */
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__logo {
  background-image: url(../../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 38px;
  max-width: 38px;
  height: 38px;
  margin: 78px 0 48px;
  transition: opacity .2s;
}

.login__logo:hover {
  opacity: .7;
}

.login__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.login__form {
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.login__field-name {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 6px 0 5px;
}

.login__field-name:first-child {
  margin: 0 0 5px;
}

.login__input {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
  transition: .3s;
  margin-bottom: 6px;
}

.login__input_type_error {
  color: #EE3465;
}

.login__input:focus {
  outline: none;
  border-bottom: 1px solid #2BE080;
}

.login__input_type_error:focus {
  border-bottom: 1px solid #EE3465;
}

.login__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  height: 12px;
}

.login__button {
  width: 100%;
  height: 45px;
  padding: 0;
  border: none;
  background-color: #2BE080;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  transition: .2s;
}

.login__button:hover {
  opacity: .7;
}

.login__button:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  opacity: 1;
  cursor: default;
}

.login__signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 70px;
}

.login__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
}

.login__link {
  margin-left: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;  
  text-decoration: none;
}

.login__link:hover {
  opacity: .7;
}

.login__server-error {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  height: 13px;
  text-align: center;
  color: #FF004C;
  margin-top: 170px;
}

@media screen and (max-width: 768px) {
  .login__logo {
    margin: 232px 0 40px;
  }
}

@media screen and (max-width: 520px) {
  .login{
    align-items: center;
    max-width: 260px;
  }
  .login__logo {
    margin: 56px 0 50px;
  }
  .login__form {
    margin-top: 80px;
  }
  .login__server-error {
    margin-top: 258px;
  }
  .login__button {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
  }
  .login__signin-container {
    margin: 14px 0 30px;
  }
  .login__paragraph {
    font-size: 12px;
    line-height: 15px;
  }
  .login__link {
    font-size: 12px;
    line-height: 15px;
  }
}